:root {
    --bg-button: #1817179d;
    --border-button: solid 2px rgb(71, 71, 71);
}

.button {
    font-size: 1em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #1817179d; 
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #1817179d;
    color: #1817179d;
}

.button.operation:active {
    background-color: #1817179d;
}